html{
    /*min-width: 400px;*/
}
body {
    font-family: 'Enriqueta', serif;
    font-size: 18px;
}

a {
    color: #ff8830;
}

header {
    margin-top: 30px;
}

.light {
    background-image: url(../img/lightbulb.png);
    width: 57px;
    height: 52px;
    float: left;
    left: 0;
}

header h1 {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 36px;
    margin: 0 0 0 66px;
    line-height: 1;
    color: #333333;
}

header h2 {
    font-family: 'Enriqueta', serif;
    font-size: 18px;
    margin: 0 0 0 66px;
    line-height: 1;
    color: #333333;
}

header .logo { float: left; }
header .logo a:hover { text-decoration: none; }

header ul {
  float: right;
  font-size: 16px;
  list-style-type: none;
  margin-right: 15px;
}

header ul li { float: left; margin: 12px 0 0 0; }
header ul li a { border: 1px solid transparent; padding: 4px 12px; }
header ul li a:hover {
  color: #ffac3b;
  text-decoration: none;
  background: #fffff8;
  border-radius: 25px;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .1);
}

.social { float: right; }

.social > a {
    float: right;
    margin: 8px 0 0 5px;
    display: block;
}

.twitter {
    width: 30px;
    height: 29px;
    background-image: url(../img/twitter.png);
}

.twitter:hover {
    background-image: url(../img/twitter-hover.png);
    cursor: pointer;
}

.facebook {
    width: 29px;
    height: 29px;
    background-image: url(../img/facebook.png);
}

.facebook:hover {
    background-image: url(../img/facebook-hover.png);
    cursor: pointer;
}

@media (max-width:480px){
    header h1{
        font-size: 32px;
    }
    header h2 {
        font-size: 18px;
    }
    header .light { margin-top: -3px; }
    header .logo { margin: 0 auto 10px auto; width: 380px; float: none; }
    header .social { float: right; clear: both; }

  header ul { float: left; margin: 2px 0 0 0; }
  header ul li a { border: 0 !important; padding: 0 15px 0 0; }
  header ul li a:hover {
    text-decoration: underline;
    border: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

@media (max-width:320px){
  header h1 { font-size: 24px; }
  header .light { margin-top: -6px; }
  header .logo { width: 320px; }
  header ul { font-size: 14px; }
}

.mast {
    background-image: url('../img/grid-18px.jpg');
    background-position: 0 200px;
    margin-top: 25px;
    color: #ff8022;
    -webkit-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, .05);
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, .05);
}

.mast .callout {
    font-weight: bold;
    padding-top: 8px;
    margin-left: 90px;
    width: 545px;
}

@media (max-width: 622px)
{
    .mast .callout{
        width: auto;
        height: auto;
    }
}
@media (max-width: 493px) {
    .mast .callout{
        margin-left: 15px;
        margin-right: 15px;
    }
}


.mast .robot {
    margin-left: 80px;
    position: relative;
    width: 159px;
    height: 195px;
    background: url("../img/grid-lightbulb.png") 0 -8px no-repeat;
}

@media (max-width: 980px) {
    .mast .robot{
        display: none;
    }
}

.mast p {
    font-size: 24px;
    line-height: 1.5em;
}

@media (max-width:480px){
    .mast p {
        font-size: 18px;
    }
}

.mast a.register {
    background-image: url('../img/register-button-sprite.png');
    background-position: 0 -120px;
    background-repeat: no-repeat;
    width: 170px;
    height: 59px;
    text-indent: -9999px;
    display: block;
    margin-left: 150px;
    margin-bottom: 10px;
}

@media (max-width:480px){
    .mast a.register{
        margin: 0 auto 10px auto;
        text-align: center;
        text-decoration: underline;
        font-size: 20px;
    }
}

.mast a.register:hover {
  background-position: 0 -60px;
}

.mast a.register:active {
  background-position: 0 0;
}

.overview {
    padding: 20px 0;
}

.overview p {
    font-family: 'Helvetica Neue', serif;
    font-size: 14px;
    margin-top: 10px;
}

section h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    margin: 0 0 20px 0;
}

section h3 {
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    margin: 0 0 20px 0;
}

@media (max-width:480px){
  section h2 { text-align: center; }
  section img { margin: 0 auto; display: block; }
}

.speakers h2, .sponsors h2, .sponsors h3{
    margin: 0 0 10px 0;
}

.speakers {
    background-image: url(../img/speakers-bg.png);
    padding: 20px 0;
    text-align: center;
}

.speakers img {
    display: block;
    margin: 0 0 5px 5px;
}

.speaker h2 {
    color: #ff8830;
    font-size: 18px;
    margin: 0 0 5px 0;
    line-height: 1.2;
}

.speaker h3.keynote {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.speaker h3 {
    color: rgb(94, 90, 90);
    font-family: 'Helvetica', serif;
    font-size: 12px;
    line-height: 1.2;
}

.speaker a {
    text-decoration: none;
}

@media (max-width:480px){
  .speaker img { margin: 0 auto; display: block; position: relative; left: -15px; }
}

.speaker-modal {
    font-family: 'Helvetica Neue', serif;
    font-size: 12px;
    border-bottom: 1px solid #EEE;
    padding: 5px 15px;
}

.speaker-modal header {
    border-bottom: 1px solid #EEE;
    padding: 0 15px;
    text-align: left;
    margin:0;
}

.speaker-modal header h2 {
    color: #ff8830;
    font-size: 18px;
    line-height: 1;
    display: inline;
    margin: 0;
}

.speaker-modal header h3 {
    color: rgb(94, 90, 90);
    font-family: 'Helvetica', serif;
    font-size: 14px;
    display: inline;
    margin: 0;
    line-height: 1.7em;
}
.speaker-modal .bio {
 margin-top: 10px;
}

.sponsors{
    padding: 20px 0;
}

.sponsor{
  display: block;
  cursor:pointer;
  background: url(../img/sponsors/sprites.png) no-repeat;
  margin-bottom: 15px;
}

.bba:hover{
    background-position: -208px -5px ;
    width: 200px;
    height: 42px;
}

.bba{
  background-position: -3px -4px ;
  width: 200px;
  height: 42px;
  margin-top: 37px;
  margin-left: 10px;
}

.bradley:hover{
    background-position: -3px -53px ;
    width: 200px;
    height: 48px;
}

.bradley{
  background-position: -415px -5px ;
  width: 200px;
  height: 48px;
  margin-top: 41px;
  margin-left: 10px;
}

.daxko:hover{
    background-position: -422px -58px ;
    width: 200px;
    height: 47px;
}

.daxko{
  background-position: -210px -55px ;
  width: 200px;
  height: 47px;
  margin-top: 41px;
  margin-left: 10px;
}

.finergrind:hover{
    background-position: -129px -107px ;
    width: 125px;
    height: 117px;
}

.finergrind{
  background-position: -4px -108px ;
  width: 125px;
  height: 117px;
  margin-top: 0px;
  margin-left: 47px;
}

.fleetio:hover{
    background-position: -258px -160px ;
    width: 200px;
    height: 51px;
}

.fleetio{
  background-position: -254px -106px ;
  width: 200px;
  height: 51px;
  margin-top: 15px;
  margin-left: 10px;
}

.isotope11:hover{
    background-position: -463px -232px ;
    width: 200px;
    height: 56px;
}

.isotope11{
  background-position: -261px -315px ;
  width: 200px;
  height: 56px;
  margin-top: 12px;
  margin-left: 10px;
}

.julie:hover{
    background-position: -466px -170px ;
    width: 200px;
    height: 51px;
}

.julie{
  background-position: -465px -109px ;
  width: 200px;
  height: 51px;
  margin-top: 15px;
  margin-left: 10px;
}

.plaidjack {
  background-position: -267px -394px ;
  width: 195px;
  height: 44px;
  margin-top: 15px;
  margin-left: 10px;
}

.plaidjack:hover {
  background-position: -485px -394px ;
}

.techbirmingham:hover{
    background-position: -235px -226px ;
    width: 223px;
    height: 81px;
}

.techbirmingham{
  background-position: -6px -229px ;
  width: 223px;
  height: 81px;
  margin-top: 0px;
  margin-left: 0px;
}

.urbancoding:hover{
    background-position: -134px -322px ;
    width: 125px;
    height: 125px;
}

.urbancoding{
  background-position: -2px -319px ;
  width: 125px;
  height: 125px;
  margin-top: 0px;
  margin-left: 52px;
}

.warren-averett {
  background-position: -479px -319px ;
  width: 200px;
  height: 31px;
  margin-top: 30px;
  margin-left: 10px;
}

.warren-averett:hover{
  background-position: -479px -351px ;
}

@media (max-width:480px){
  .sponsor { margin-left: auto; margin-right: auto; display: block; }
}

footer {
  font-family: 'Helvetica Neue', serif;
  font-size: 14px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #e3e3e3;
}

footer .links a {
    display: inline-block;
    padding: 0 5px;
}

footer .links ul {
    list-style: none;
    float: right;

}

footer .links ul li {
    display: inline;
}

footer .links .separator {
    color: #999999;
}

@media (max-width:480px){
  footer { text-align: center; }
  footer .links ul { float: none; margin: 10px 0 0 0; font-size: 11px; }
}

/** BEGIN <TAKEAWAY> **/

.mast.alternate { text-align: center; height: auto; }
.mast.alternate .callout { width: 480px; margin: 0 auto; }
.mast.alternate .callout p { margin-bottom: 20px; font-size: 18px; }

@media (max-width:480px){
  .mast.alternate .callout { width: auto; padding: 8px 15px 0 15px; }
}

.takeaway { padding: 20px 0; }
.takeaway ul { margin-bottom: 20px; }
.takeaway ul li { line-height: 1.5; }

/** BEGIN <SCHEDULE> **/

.schedule { line-height: 1.4; padding-top: 20px; }
.schedule table { border-collapse: collapse; margin-bottom: 20px; }
.schedule tr td { padding: 5px 10px; }
.schedule .break { background-color: #e3e3e3; }
.schedule .time { font-weight: bold; white-space: nowrap; }
.schedule em { font-weight: bold; display: block; font-style: normal; }
.schedule .company { color: #777; }
.schedule .photos { float: right; text-align: right; }
.schedule .photos img { width: 55px; height: 55px; }

@media (max-width:480px){
  .schedule .photos { display: none; }
}